*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	position: fixed;
	background-color: #333;
	height: 85px;
	color: #FFF;
	margin-bottom: 1em;
	width: 100%;
}

header h1{
	font-size: 2em;
	display:inline-block;
	padding-left: 100px;
}

.logo{
	width: 200px;
	display: inline-block;
	vertical-align:	middle;
}

header h2{
  width: 100%;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 15px;
	padding-top: 115px;
	text-align: center;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	font-weight: bold;
}

table{
	width: 100%;
	margin-bottom : 20px;
  table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.info-edit, .info-delet{
	border: 0;
}
label{
	color:black;
	display: block;
	margin-bottom: .2em;
	font-size: 15px;
	font-weight: bold;
}


.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}
#edit-maquina{
    width: 147.2px;
}

#delet-maquina{
    width: 147.2px;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
  background-color: gray;
	border-color: darkgray;

}

.adicionar-maquina{
    margin-top: 30px;
}


#mensagens-erro{
	color:red;
}
/*desaparecer*/
.fadeOut{
	opacity: 0;
	transition: 0.5s;
}


#filtrar-tabela{
	width: 200px;
	height:35px;
	margin-bottom: 10px;
}

.invisivel{
	display: none;
}
